body {
	font-family: "Inter" !important;
}

.title h1 {
	color: #0069ff;
	margin: 0;
	font-weight: 700;
}

.title p {
	color: #0069ff;
	margin-top: 20px;
}

.title {
	padding: 48px;
}

.divider {
	background-color: #0069ff;
	height: 10px;
	width: 50px;
	margin-top: 20px;
	position: relative;
}

.divider::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 10px solid white;
	border-right: 10px solid #0069ff;
	width: 0;
}

.divider::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-top: 10px solid white;
	border-left: 10px solid #0069ff;
	width: 0;
}

.content {
	color: #0069ff;
	padding: 48px;
}

.content .row {
	color: black;
}

.content .row .col-1 {
	position: relative;
}

@media only screen and (max-width: 384px) {
	.content {
		padding: 10px;
	}
	.title {
		padding: 10px;
		padding-top: 48px;
	}
}

.entry {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	display: inline-block;
	padding: 20px 40px;
	border-radius: 10px;
	color: rgba(0, 0, 0, 0.5);
	position: relative;
	min-width: 50%;
}

.circle {
	height: 20px;
	width: 20px;
	background-color: rgb(100, 100, 100);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	border-radius: 50%;
}
.row {
	padding-bottom: 20px;
}

.line {
	height: calc(100% + 20px);
	width: 2px;
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
}

.last {
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 1) 10%,
		rgba(100, 100, 100, 1) 100%
	);
}

.timeline-entry {
	margin-bottom: 20px;
	color: black;
	font-size: 12px;
}

.section-title {
	margin-bottom: 20px;
	font-weight: 700;
}

.section-title.n {
	margin-top: 100px;
}
